@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media print {

  button {
    display: none !important;
  }

  nav,
  aside,
  header,
  footer {
    display: none !important;
  }

  body {
    background: white;
  }

}